<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.arthur.desktop-commander-remote</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{ if eq .chezmoi.arch "arm64" }}/opt/homebrew/bin/desktop-commander{{ else }}/usr/local/bin/desktop-commander{{ end }}</string>
    <string>remote</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>HOME</key>
    <string>{{ .chezmoi.homeDir }}</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>{{ .chezmoi.homeDir }}/Library/Logs/desktop-commander-remote.log</string>
  <key>StandardErrorPath</key>
  <string>{{ .chezmoi.homeDir }}/Library/Logs/desktop-commander-remote.err.log</string>
</dict>
</plist>
